In [1]:
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
sns.set() # set seaborn default parameters for plots
# may have to pip install it: 
# pip install pycountry
import pycountry
import os
data_folder = 'data'
figures_folder = 'figures'
gender_dict = {'b': 'both', 'f': 'female', 'm': 'male'}

import warnings
warnings.filterwarnings("ignore")

In [2]:
def get_country_name(country_code, alpha=True):
    if alpha:
        return pycountry.countries.get(alpha_3=country_code).name
    else:
        return pycountry.countries.get(numeric=country_code).name

## Data preparation

See section below for the explanations of the particular choices of `demo` and `stock`.

In [3]:
# request user to choose whether to keep the rows with 0 flow
remove_zero_flows_str = input("Do you want to remove the rows with 0 flow? Answer by 'True' or 'False'.")
if remove_zero_flows_str.lower() == 'true':
    remove_zero_flows_bool = True
else:
    remove_zero_flows_bool = False

Do you want to remove the rows with 0 flow? Answer by 'True' or 'False'.True

In [4]:
file_path = os.sep.join([data_folder, 'Abel', 'migflows_allcountries_gender_separated_1990_2015.csv'])
df = pd.read_csv(file_path)

# set whether you want to keep flows equal to zero in the dataset
remove_zero_flows_bool = True

print(f'Number of rows in original dataset: {df.shape[0]}.')

# select only time intervals of 5 years from 1990 to 2015 
df = df[(df.interval == 5) & (df.year0 >= 1990)]
print(f'Number of rows after filtering time interval: {df.shape[0]}.')

# select only the world population estimates of year 2015 
df = df[df.demo == 'wpp2015']
print(f'Number of rows after selecting only wpp2015 demographics: {df.shape[0]}.')

# select only the migrant stocks of year 2015 
df = df[df.stock == 'un15']
print(f'Number of rows after selecting only un2015 migrant stocks: {df.shape[0]}.')

# remove irrelevant and redundant columns
df.drop(columns=['stock', 'demo', 'interval'], inplace=True)

# request user to choose whether to keep the rows with 0 flow (this avoids forgetting about this option)
remove_zero_flows_str = input("Do you want to remove the rows with 0 flow? Answer by 'True' or 'False'.")
if remove_zero_flows_str.lower() == 'true':
    remove_zero_flows_bool = True
else:
    remove_zero_flows_bool = False
    
# remove rows with flow equal to 0
if remove_zero_flows_bool:
    df = df[df.flow > 0]
    print(f'Number of rows after removing rows with flow equal to 0: {df.shape[0]}.')

# get all countries in dataset
countries = set(df.orig.unique()).union(df.dest.unique())
print(f'There are {len(countries)} countries in MigrFlowSex dataset.')

iso_countries = {country.alpha_3 for country in pycountry.countries}
not_iso_countries = countries - iso_countries
print(f'There are {len(not_iso_countries)} not-ISO countries.')

# remove not-ISO countries
print(f"Let's remove them.")
df = df[~(df['orig'].isin(not_iso_countries) | df['dest'].isin(not_iso_countries))]
print(f'Number of rows after removing non-ISO countries {df.shape[0]}.')

countries_clean = set(df.orig.unique()).union(df.dest.unique())
assert len(countries_clean) == (len(countries) - len(not_iso_countries))
print(f'There are {len(countries_clean)} countries after removal.')

Number of rows in original dataset: 10321454.
Number of rows after filtering time interval: 4901986.
Number of rows after selecting only wpp2015 demographics: 1757100.
Number of rows after selecting only un2015 migrant stocks: 590448.
Do you want to remove the rows with 0 flow? Answer by 'True' or 'False'.True
Number of rows after removing rows with flow equal to 0: 166052.
There are 202 countries in MigrFlowSex dataset.
There are 3 not-ISO countries.
Let's remove them.
Number of rows after removing non-ISO countries 162889.
There are 199 countries after removal.

### correct the both gender values based on female and male flow numbers

In [5]:
df_new = pd.pivot_table(df, values = 'flow', 
                        index=['orig','dest', 'orig_code','dest_code'], columns = 'sex').reset_index()
# fill nan values with 0
df_new = df_new.fillna(0, axis=1)

# correct the type of the flow numbers
if df_new.columns.str.contains("b").any()==True:
            df_new['b'] = df_new['b'].astype(int)
        
if df_new.columns.str.contains("f").any()==True:
            df_new['f'] = df_new['f'].astype(int)
        
if df_new.columns.str.contains("m").any()==True:
            df_new['m'] = df_new['m'].astype(int)
        
# drop column 'b' to calcualte new one from 'f' and 'm' values
df_new = df_new.drop(['b'], axis=1)
df_new['b'] = df_new['f'] + df_new['m']

# convert the data frame format again
df_new = pd.melt(df_new, id_vars=['orig', 'dest', 'orig_code', 'dest_code'], var_name='sex', value_name='flow')
df_new = df_new[['sex', 'orig', 'dest', 'orig_code', 'dest_code', 'flow']]

df_new.head()

  sex orig dest  orig_code  dest_code  flow
0   f  ABW  AGO        533         24     0
1   f  ABW  ARE        533        784     0
2   f  ABW  ATG        533         28     0
3   f  ABW  AUS        533         36     4
4   f  ABW  AUT        533         40     0

In [6]:
# write to file
filename = f'migflows_gender_separated_1990_2015_filtered{"_without0flows" if remove_zero_flows_bool else ""}.csv'
df_new.to_csv(os.sep.join([data_folder, filename]), index=False)

### Some statistics on the dataset

#### `year0` and `sex`

In [51]:
df.columns

Index(['sex', 'year0', 'orig', 'dest', 'orig_code', 'dest_code', 'flow'], dtype='object')

In [52]:
df.groupby(['year0', 'sex']).count()

            orig   dest  orig_code  dest_code   flow
year0 sex
1990  b    11461  11461      11461      11461  11461
      f    10361  10361      10361      10361  10361
      m    10645  10645      10645      10645  10645
1995  b    11539  11539      11539      11539  11539
      f    10461  10461      10461      10461  10461
      m    10630  10630      10630      10630  10630
2000  b    11537  11537      11537      11537  11537
      f    10597  10597      10597      10597  10597
      m    10759  10759      10759      10759  10759
2005  b    11703  11703      11703      11703  11703
      f    10648  10648      10648      10648  10648
      m    11043  11043      11043      11043  11043
2010  b    11035  11035      11035      11035  11035
      f    10101  10101      10101      10101  10101
      m    10369  10369      10369      10369  10369

#### `flow`

In [62]:
print(f'There were {100 * 166052 / 590448:.1f} % non-zero flow rows.')

There were 28.1 % non-zero flow rows.

In [50]:
df.flow.describe()

count    1.628890e+05
mean     2.349624e+03
std      2.250251e+04
min      1.000000e+00
25%      4.000000e+00
50%      2.500000e+01
75%      2.420000e+02
max      2.824460e+06
Name: flow, dtype: float64

In [21]:
## This cell was how we processed the data for the first milestone
## The print statements below show our previous cleaning results

# file_path = os.sep.join([data_folder, 'Abel', 'migflows_allcountries_gender_separated_1990_2015.csv'])
# df = pd.read_csv(file_path)
# print(f'Number of rows in original dataset: {df.shape[0]}.')

# # select only time intervals of 5 years from 1990 to 2015 
# df = df[(df.interval == 5) & (df.year0 >= 1990)]
# print(f'Number of rows after filtering time interval: {df.shape[0]}.')

# # remove irrelevant and redundant columns
# df.drop(columns=['stock', 'demo', 'interval'], inplace=True)

# # get all countries in dataset
# countries = set(df.orig.unique()).union(df.dest.unique())
# print(f'There are {len(countries)} countries in MigrFlowSex dataset.')

# iso_countries = {country.alpha_3 for country in pycountry.countries}
# not_iso_countries = countries - iso_countries
# print(f'There are {len(not_iso_countries)} not-ISO countries.')

# # remove not-ISO countries
# print(f"Let's remove them.")
# df = df[~(df['orig'].isin(not_iso_countries) | df['dest'].isin(not_iso_countries))]
# print(f'Number of rows after removing non-ISO countries {df.shape[0]}.')

# countries_clean = set(df.orig.unique()).union(df.dest.unique())
# assert len(countries_clean) == (len(countries) - len(not_iso_countries))
# print(f'There are {len(countries_clean)} countries after removal.')

## This printed:
## Number of rows in original dataset: 10321454.
## Number of rows after filtering time interval: 4901986.
## There are 204 countries in MigrFlowSex dataset.
## There are 4 not-ISO countries.
## Let's remove them.
## Number of rows after removing non-ISO countries 4755853.
## There are 200 countries after removal.

Number of rows in original dataset: 10321454.
Number of rows after filtering time interval: 4901986.
There are 204 countries in MigrFlowSex dataset.
There are 4 not-ISO countries.
Let's remove them.
Number of rows after removing non-ISO countries 4755853.
There are 200 countries after removal.

## Why did we choose these `demo` and `stock`

In [38]:
file_path = os.sep.join([data_folder, 'Abel', 'migflows_allcountries_gender_separated_1990_2015.csv'])
df = pd.read_csv(file_path)
print(f'Number of rows in original dataset: {df.shape[0]}.')

# select only time intervals of 5 years from 1990 to 2015 
df = df[(df.interval == 5) & (df.year0 >= 1990)]
print(f'Number of rows after filtering time interval: {df.shape[0]}.')

Number of rows in original dataset: 10321454.
Number of rows after filtering time interval: 4901986.

In [27]:
df.groupby('stock').count()

,demo,sex,year0,interval,orig,dest,orig_code,dest_code,flow
stock,,,,,,,,,
un12,1387716,1387716,1387716,1387716,1387716,1387716,1387716,1387716,1387716
un13,1354892,1354892,1354892,1354892,1354892,1354892,1354892,1354892,1354892
un15,1474892,1474892,1474892,1474892,1474892,1474892,1474892,1474892,1474892
wb11,684486,684486,684486,684486,684486,684486,684486,684486,684486

`un15` contains the most data in the period of interest. It is also the most updated one, suggesting more accurate estimates.

In [28]:
df.groupby('demo').count()

,stock,sex,year0,interval,orig,dest,orig_code,dest_code,flow
demo,,,,,,,,,
wpp2010,1507786,1507786,1507786,1507786,1507786,1507786,1507786,1507786,1507786
wpp2012,1637100,1637100,1637100,1637100,1637100,1637100,1637100,1637100,1637100
wpp2015,1757100,1757100,1757100,1757100,1757100,1757100,1757100,1757100,1757100

`wpp15` contains the most data in the period of interest. It is also the most updated one, suggesting more accurate estimates.

## Which time intervals have several `demo` and `stock`?

In [43]:
df.groupby(['year0', 'demo', 'sex']).count()

                    stock  interval    orig    dest  orig_code  dest_code  \
year0 demo    sex
1990  wpp2010 b    150546    150546  150546  150546     150546     150546
              f    150546    150546  150546  150546     150546     150546
              m    150546    150546  150546  150546     150546     150546
      wpp2012 b    155633    155633  155633  155633     155633     155633
              f    155633    155633  155633  155633     155633     155633
              m    155633    155633  155633  155633     155633     155633
      wpp2015 b    155633    155633  155633  155633     155633     155633
              f    155633    155633  155633  155633     155633     155633
              m    155633    155633  155633  155633     155633     155633
1995  wpp2010 b    150546    150546  150546  150546     150546     150546
              f    150546    150546  150546  150546     150546     150546
              m    150546    150546  150546  150546     150546     150546
      wpp2012 b    155633    155633  155633  155633     155633     155633
              f    155633    155633  155633  155633     155633     155633
              m    155633    155633  155633  155633     155633     155633
      wpp2015 b    155633    155633  155633  155633     155633     155633
              f    155633    155633  155633  155633     155633     155633
              m    155633    155633  155633  155633     155633     155633
2000  wpp2010 b    113297    113297  113297  113297     113297     113297
              f    113297    113297  113297  113297     113297     113297
              m    113297    113297  113297  113297     113297     113297
      wpp2012 b    117217    117217  117217  117217     117217     117217
              f    117217    117217  117217  117217     117217     117217
              m    117217    117217  117217  117217     117217     117217
      wpp2015 b    117217    117217  117217  117217     117217     117217
              f    117217    117217  117217  117217     117217     117217
              m    117217    117217  117217  117217     117217     117217
2005  wpp2010 b    113297    113297  113297  113297     113297     113297
              f    113297    113297  113297  113297     113297     113297
              m     38025     38025   38025   38025      38025      38025
      wpp2012 b    117217    117217  117217  117217     117217     117217
              f    117217    117217  117217  117217     117217     117217
              m    117217    117217  117217  117217     117217     117217
      wpp2015 b    117217    117217  117217  117217     117217     117217
              f    117217    117217  117217  117217     117217     117217
              m    117217    117217  117217  117217     117217     117217
2010  wpp2015 b     40000     40000   40000   40000      40000      40000
              f     40000     40000   40000   40000      40000      40000
              m     40000     40000   40000   40000      40000      40000

                     flow
year0 demo    sex
1990  wpp2010 b    150546
              f    150546
              m    150546
      wpp2012 b    155633
              f    155633
              m    155633
      wpp2015 b    155633
              f    155633
              m    155633
1995  wpp2010 b    150546
              f    150546
              m    150546
      wpp2012 b    155633
              f    155633
              m    155633
      wpp2015 b    155633
              f    155633
              m    155633
2000  wpp2010 b    113297
              f    113297
              m    113297
      wpp2012 b    117217
              f    117217
              m    117217
      wpp2015 b    117217
              f    117217
              m    117217
2005  wpp2010 b    113297
              f    113297
              m     38025
      wpp2012 b    117217
              f    117217
              m    117217
      wpp2015 b    117217
              f    117217
              m    117217
2010  wpp2015 b     40000
              f     40000
              m     40000

In [44]:
df.groupby(['year0', 'stock', 'sex']).count()

                   demo  interval    orig    dest  orig_code  dest_code  \
year0 stock sex
1990  un12  b    115643    115643  115643  115643     115643     115643
            f    115643    115643  115643  115643     115643     115643
            m    115643    115643  115643  115643     115643     115643
      un13  b    116044    116044  116044  116044     116044     116044
            f    116044    116044  116044  116044     116044     116044
            m    116044    116044  116044  116044     116044     116044
      un15  b    116044    116044  116044  116044     116044     116044
            f    116044    116044  116044  116044     116044     116044
            m    116044    116044  116044  116044     116044     116044
      wb11  b    114081    114081  114081  114081     114081     114081
            f    114081    114081  114081  114081     114081     114081
            m    114081    114081  114081  114081     114081     114081
1995  un12  b    115643    115643  115643  115643     115643     115643
            f    115643    115643  115643  115643     115643     115643
            m    115643    115643  115643  115643     115643     115643
      un13  b    116044    116044  116044  116044     116044     116044
            f    116044    116044  116044  116044     116044     116044
            m    116044    116044  116044  116044     116044     116044
      un15  b    116044    116044  116044  116044     116044     116044
            f    116044    116044  116044  116044     116044     116044
            m    116044    116044  116044  116044     116044     116044
      wb11  b    114081    114081  114081  114081     114081     114081
            f    114081    114081  114081  114081     114081     114081
            m    114081    114081  114081  114081     114081     114081
2000  un12  b    115643    115643  115643  115643     115643     115643
            f    115643    115643  115643  115643     115643     115643
            m    115643    115643  115643  115643     115643     115643
      un13  b    116044    116044  116044  116044     116044     116044
            f    116044    116044  116044  116044     116044     116044
            m    116044    116044  116044  116044     116044     116044
      un15  b    116044    116044  116044  116044     116044     116044
            f    116044    116044  116044  116044     116044     116044
            m    116044    116044  116044  116044     116044     116044
2005  un12  b    115643    115643  115643  115643     115643     115643
            f    115643    115643  115643  115643     115643     115643
            m    115643    115643  115643  115643     115643     115643
      un13  b    116044    116044  116044  116044     116044     116044
            f    116044    116044  116044  116044     116044     116044
            m     78408     78408   78408   78408      78408      78408
      un15  b    116044    116044  116044  116044     116044     116044
            f    116044    116044  116044  116044     116044     116044
            m     78408     78408   78408   78408      78408      78408
2010  un15  b     40000     40000   40000   40000      40000      40000
            f     40000     40000   40000   40000      40000      40000
            m     40000     40000   40000   40000      40000      40000

                   flow
year0 stock sex
1990  un12  b    115643
            f    115643
            m    115643
      un13  b    116044
            f    116044
            m    116044
      un15  b    116044
            f    116044
            m    116044
      wb11  b    114081
            f    114081
            m    114081
1995  un12  b    115643
            f    115643
            m    115643
      un13  b    116044
            f    116044
            m    116044
      un15  b    116044
            f    116044
            m    116044
      wb11  b    114081
            f    114081
            m    114081
2000  un12  b    115643
            f    115643
            m    115643
      un13  b    116044
            f    116044
            m    116044
      un15  b    116044
            f    116044
            m    116044
2005  un12  b    115643
            f    115643
            m    115643
      un13  b    116044
            f    116044
            m     78408
      un15  b    116044
            f    116044
            m     78408
2010  un15  b     40000
            f     40000
            m     40000

## Make country codes and names a _json_ dictionary

In [15]:
filename = 'country_codes_and_names.json'
with open(os.path.join(data_folder, filename), 'w') as f:
    f.write('[\n')
    for i, country in enumerate(pycountry.countries):
#         line_string = ','.join(['{"numeric": "{}"'.format(country.numeric), 
        if i != len(pycountry.countries) - 1:
            last_line = '"iso_a2": "{}"}},\n'.format(country.alpha_2)
        else:
            last_line = '"iso_a2": "{}"}}\n'.format(country.alpha_2)
        line_string = ', '.join([
            '{{"numeric": "{}"'.format(country.numeric), 
#             '\{"numeric": "{}"'.format(country.numeric), 
#             f'\{"numeric": "{country.numeric}"', 
            '"name": "{}"'.format(country.name), 
#             f'"name": "{country.name}"', 
            '"iso_a3": "{}"'.format(country.alpha_3), 
#             f'"iso_a3": "{country.iso_a3}"', 
            last_line])
#             '"iso_a2": "{}"},\n'.format(country.iso_a2)])
        print(line_string)
#                                 f'"iso_a2": "{country.iso_a2}"\},\n'])
#                                 f'"iso_a2": "{country.iso_a2}"\},\n'])
        f.write(line_string)
    f.write(']')

{"numeric": "533", "name": "Aruba", "iso_a3": "ABW", "iso_a2": "AW"},

{"numeric": "004", "name": "Afghanistan", "iso_a3": "AFG", "iso_a2": "AF"},

{"numeric": "024", "name": "Angola", "iso_a3": "AGO", "iso_a2": "AO"},

{"numeric": "660", "name": "Anguilla", "iso_a3": "AIA", "iso_a2": "AI"},

{"numeric": "248", "name": "Åland Islands", "iso_a3": "ALA", "iso_a2": "AX"},

{"numeric": "008", "name": "Albania", "iso_a3": "ALB", "iso_a2": "AL"},

{"numeric": "020", "name": "Andorra", "iso_a3": "AND", "iso_a2": "AD"},

{"numeric": "784", "name": "United Arab Emirates", "iso_a3": "ARE", "iso_a2": "AE"},

{"numeric": "032", "name": "Argentina", "iso_a3": "ARG", "iso_a2": "AR"},

{"numeric": "051", "name": "Armenia", "iso_a3": "ARM", "iso_a2": "AM"},

{"numeric": "016", "name": "American Samoa", "iso_a3": "ASM", "iso_a2": "AS"},

{"numeric": "010", "name": "Antarctica", "iso_a3": "ATA", "iso_a2": "AQ"},

{"numeric": "260", "name": "French Southern Territories", "iso_a3": "ATF", "iso_a2": "TF"},

{"numeric": "028", "name": "Antigua and Barbuda", "iso_a3": "ATG", "iso_a2": "AG"},

{"numeric": "036", "name": "Australia", "iso_a3": "AUS", "iso_a2": "AU"},

{"numeric": "040", "name": "Austria", "iso_a3": "AUT", "iso_a2": "AT"},

{"numeric": "031", "name": "Azerbaijan", "iso_a3": "AZE", "iso_a2": "AZ"},

{"numeric": "108", "name": "Burundi", "iso_a3": "BDI", "iso_a2": "BI"},

{"numeric": "056", "name": "Belgium", "iso_a3": "BEL", "iso_a2": "BE"},

{"numeric": "204", "name": "Benin", "iso_a3": "BEN", "iso_a2": "BJ"},

{"numeric": "535", "name": "Bonaire, Sint Eustatius and Saba", "iso_a3": "BES", "iso_a2": "BQ"},

{"numeric": "854", "name": "Burkina Faso", "iso_a3": "BFA", "iso_a2": "BF"},

{"numeric": "050", "name": "Bangladesh", "iso_a3": "BGD", "iso_a2": "BD"},

{"numeric": "100", "name": "Bulgaria", "iso_a3": "BGR", "iso_a2": "BG"},

{"numeric": "048", "name": "Bahrain", "iso_a3": "BHR", "iso_a2": "BH"},

{"numeric": "044", "name": "Bahamas", "iso_a3": "BHS", "iso_a2": "BS"},

{"numeric": "070", "name": "Bosnia and Herzegovina", "iso_a3": "BIH", "iso_a2": "BA"},

{"numeric": "652", "name": "Saint Barthélemy", "iso_a3": "BLM", "iso_a2": "BL"},

{"numeric": "112", "name": "Belarus", "iso_a3": "BLR", "iso_a2": "BY"},

{"numeric": "084", "name": "Belize", "iso_a3": "BLZ", "iso_a2": "BZ"},

{"numeric": "060", "name": "Bermuda", "iso_a3": "BMU", "iso_a2": "BM"},

{"numeric": "068", "name": "Bolivia, Plurinational State of", "iso_a3": "BOL", "iso_a2": "BO"},

{"numeric": "076", "name": "Brazil", "iso_a3": "BRA", "iso_a2": "BR"},

{"numeric": "052", "name": "Barbados", "iso_a3": "BRB", "iso_a2": "BB"},

{"numeric": "096", "name": "Brunei Darussalam", "iso_a3": "BRN", "iso_a2": "BN"},

{"numeric": "064", "name": "Bhutan", "iso_a3": "BTN", "iso_a2": "BT"},

{"numeric": "074", "name": "Bouvet Island", "iso_a3": "BVT", "iso_a2": "BV"},

{"numeric": "072", "name": "Botswana", "iso_a3": "BWA", "iso_a2": "BW"},

{"numeric": "140", "name": "Central African Republic", "iso_a3": "CAF", "iso_a2": "CF"},

{"numeric": "124", "name": "Canada", "iso_a3": "CAN", "iso_a2": "CA"},

{"numeric": "166", "name": "Cocos (Keeling) Islands", "iso_a3": "CCK", "iso_a2": "CC"},

{"numeric": "756", "name": "Switzerland", "iso_a3": "CHE", "iso_a2": "CH"},

{"numeric": "152", "name": "Chile", "iso_a3": "CHL", "iso_a2": "CL"},

{"numeric": "156", "name": "China", "iso_a3": "CHN", "iso_a2": "CN"},

{"numeric": "384", "name": "Côte d'Ivoire", "iso_a3": "CIV", "iso_a2": "CI"},

{"numeric": "120", "name": "Cameroon", "iso_a3": "CMR", "iso_a2": "CM"},

{"numeric": "180", "name": "Congo, The Democratic Republic of the", "iso_a3": "COD", "iso_a2": "CD"},

{"numeric": "178", "name": "Congo", "iso_a3": "COG", "iso_a2": "CG"},

{"numeric": "184", "name": "Cook Islands", "iso_a3": "COK", "iso_a2": "CK"},

{"numeric": "170", "name": "Colombia", "iso_a3": "COL", "iso_a2": "CO"},

{"numeric": "174", "name": "Comoros", "iso_a3": "COM", "iso_a2": "KM"},

{"numeric": "132", "name": "Cabo Verde", "iso_a3": "CPV", "iso_a2": "CV"},

{"numeric": "188", "name": "Costa Rica", "iso_a3": "CRI", "iso_a2": "CR"},

{"numeric": "192", "name": "Cuba", "iso_a3": "CUB", "iso_a2": "CU"},

{"numeric": "531", "name": "Curaçao", "iso_a3": "CUW", "iso_a2": "CW"},

{"numeric": "162", "name": "Christmas Island", "iso_a3": "CXR", "iso_a2": "CX"},

{"numeric": "136", "name": "Cayman Islands", "iso_a3": "CYM", "iso_a2": "KY"},

{"numeric": "196", "name": "Cyprus", "iso_a3": "CYP", "iso_a2": "CY"},

{"numeric": "203", "name": "Czechia", "iso_a3": "CZE", "iso_a2": "CZ"},

{"numeric": "276", "name": "Germany", "iso_a3": "DEU", "iso_a2": "DE"},

{"numeric": "262", "name": "Djibouti", "iso_a3": "DJI", "iso_a2": "DJ"},

{"numeric": "212", "name": "Dominica", "iso_a3": "DMA", "iso_a2": "DM"},

{"numeric": "208", "name": "Denmark", "iso_a3": "DNK", "iso_a2": "DK"},

{"numeric": "214", "name": "Dominican Republic", "iso_a3": "DOM", "iso_a2": "DO"},

{"numeric": "012", "name": "Algeria", "iso_a3": "DZA", "iso_a2": "DZ"},

{"numeric": "218", "name": "Ecuador", "iso_a3": "ECU", "iso_a2": "EC"},

{"numeric": "818", "name": "Egypt", "iso_a3": "EGY", "iso_a2": "EG"},

{"numeric": "232", "name": "Eritrea", "iso_a3": "ERI", "iso_a2": "ER"},

{"numeric": "732", "name": "Western Sahara", "iso_a3": "ESH", "iso_a2": "EH"},

{"numeric": "724", "name": "Spain", "iso_a3": "ESP", "iso_a2": "ES"},

{"numeric": "233", "name": "Estonia", "iso_a3": "EST", "iso_a2": "EE"},

{"numeric": "231", "name": "Ethiopia", "iso_a3": "ETH", "iso_a2": "ET"},

{"numeric": "246", "name": "Finland", "iso_a3": "FIN", "iso_a2": "FI"},

{"numeric": "242", "name": "Fiji", "iso_a3": "FJI", "iso_a2": "FJ"},

{"numeric": "238", "name": "Falkland Islands (Malvinas)", "iso_a3": "FLK", "iso_a2": "FK"},

{"numeric": "250", "name": "France", "iso_a3": "FRA", "iso_a2": "FR"},

{"numeric": "234", "name": "Faroe Islands", "iso_a3": "FRO", "iso_a2": "FO"},

{"numeric": "583", "name": "Micronesia, Federated States of", "iso_a3": "FSM", "iso_a2": "FM"},

{"numeric": "266", "name": "Gabon", "iso_a3": "GAB", "iso_a2": "GA"},

{"numeric": "826", "name": "United Kingdom", "iso_a3": "GBR", "iso_a2": "GB"},

{"numeric": "268", "name": "Georgia", "iso_a3": "GEO", "iso_a2": "GE"},

{"numeric": "831", "name": "Guernsey", "iso_a3": "GGY", "iso_a2": "GG"},

{"numeric": "288", "name": "Ghana", "iso_a3": "GHA", "iso_a2": "GH"},

{"numeric": "292", "name": "Gibraltar", "iso_a3": "GIB", "iso_a2": "GI"},

{"numeric": "324", "name": "Guinea", "iso_a3": "GIN", "iso_a2": "GN"},

{"numeric": "312", "name": "Guadeloupe", "iso_a3": "GLP", "iso_a2": "GP"},

{"numeric": "270", "name": "Gambia", "iso_a3": "GMB", "iso_a2": "GM"},

{"numeric": "624", "name": "Guinea-Bissau", "iso_a3": "GNB", "iso_a2": "GW"},

{"numeric": "226", "name": "Equatorial Guinea", "iso_a3": "GNQ", "iso_a2": "GQ"},

{"numeric": "300", "name": "Greece", "iso_a3": "GRC", "iso_a2": "GR"},

{"numeric": "308", "name": "Grenada", "iso_a3": "GRD", "iso_a2": "GD"},

{"numeric": "304", "name": "Greenland", "iso_a3": "GRL", "iso_a2": "GL"},

{"numeric": "320", "name": "Guatemala", "iso_a3": "GTM", "iso_a2": "GT"},

{"numeric": "254", "name": "French Guiana", "iso_a3": "GUF", "iso_a2": "GF"},

{"numeric": "316", "name": "Guam", "iso_a3": "GUM", "iso_a2": "GU"},

{"numeric": "328", "name": "Guyana", "iso_a3": "GUY", "iso_a2": "GY"},

{"numeric": "344", "name": "Hong Kong", "iso_a3": "HKG", "iso_a2": "HK"},

{"numeric": "334", "name": "Heard Island and McDonald Islands", "iso_a3": "HMD", "iso_a2": "HM"},

{"numeric": "340", "name": "Honduras", "iso_a3": "HND", "iso_a2": "HN"},

{"numeric": "191", "name": "Croatia", "iso_a3": "HRV", "iso_a2": "HR"},

{"numeric": "332", "name": "Haiti", "iso_a3": "HTI", "iso_a2": "HT"},

{"numeric": "348", "name": "Hungary", "iso_a3": "HUN", "iso_a2": "HU"},

{"numeric": "360", "name": "Indonesia", "iso_a3": "IDN", "iso_a2": "ID"},

{"numeric": "833", "name": "Isle of Man", "iso_a3": "IMN", "iso_a2": "IM"},

{"numeric": "356", "name": "India", "iso_a3": "IND", "iso_a2": "IN"},

{"numeric": "086", "name": "British Indian Ocean Territory", "iso_a3": "IOT", "iso_a2": "IO"},

{"numeric": "372", "name": "Ireland", "iso_a3": "IRL", "iso_a2": "IE"},

{"numeric": "364", "name": "Iran, Islamic Republic of", "iso_a3": "IRN", "iso_a2": "IR"},

{"numeric": "368", "name": "Iraq", "iso_a3": "IRQ", "iso_a2": "IQ"},

{"numeric": "352", "name": "Iceland", "iso_a3": "ISL", "iso_a2": "IS"},

{"numeric": "376", "name": "Israel", "iso_a3": "ISR", "iso_a2": "IL"},

{"numeric": "380", "name": "Italy", "iso_a3": "ITA", "iso_a2": "IT"},

{"numeric": "388", "name": "Jamaica", "iso_a3": "JAM", "iso_a2": "JM"},

{"numeric": "832", "name": "Jersey", "iso_a3": "JEY", "iso_a2": "JE"},

{"numeric": "400", "name": "Jordan", "iso_a3": "JOR", "iso_a2": "JO"},

{"numeric": "392", "name": "Japan", "iso_a3": "JPN", "iso_a2": "JP"},

{"numeric": "398", "name": "Kazakhstan", "iso_a3": "KAZ", "iso_a2": "KZ"},

{"numeric": "404", "name": "Kenya", "iso_a3": "KEN", "iso_a2": "KE"},

{"numeric": "417", "name": "Kyrgyzstan", "iso_a3": "KGZ", "iso_a2": "KG"},

{"numeric": "116", "name": "Cambodia", "iso_a3": "KHM", "iso_a2": "KH"},

{"numeric": "296", "name": "Kiribati", "iso_a3": "KIR", "iso_a2": "KI"},

{"numeric": "659", "name": "Saint Kitts and Nevis", "iso_a3": "KNA", "iso_a2": "KN"},

{"numeric": "410", "name": "Korea, Republic of", "iso_a3": "KOR", "iso_a2": "KR"},

{"numeric": "414", "name": "Kuwait", "iso_a3": "KWT", "iso_a2": "KW"},

{"numeric": "418", "name": "Lao People's Democratic Republic", "iso_a3": "LAO", "iso_a2": "LA"},

{"numeric": "422", "name": "Lebanon", "iso_a3": "LBN", "iso_a2": "LB"},

{"numeric": "430", "name": "Liberia", "iso_a3": "LBR", "iso_a2": "LR"},

{"numeric": "434", "name": "Libya", "iso_a3": "LBY", "iso_a2": "LY"},

{"numeric": "662", "name": "Saint Lucia", "iso_a3": "LCA", "iso_a2": "LC"},

{"numeric": "438", "name": "Liechtenstein", "iso_a3": "LIE", "iso_a2": "LI"},

{"numeric": "144", "name": "Sri Lanka", "iso_a3": "LKA", "iso_a2": "LK"},

{"numeric": "426", "name": "Lesotho", "iso_a3": "LSO", "iso_a2": "LS"},

{"numeric": "440", "name": "Lithuania", "iso_a3": "LTU", "iso_a2": "LT"},

{"numeric": "442", "name": "Luxembourg", "iso_a3": "LUX", "iso_a2": "LU"},

{"numeric": "428", "name": "Latvia", "iso_a3": "LVA", "iso_a2": "LV"},

{"numeric": "446", "name": "Macao", "iso_a3": "MAC", "iso_a2": "MO"},

{"numeric": "663", "name": "Saint Martin (French part)", "iso_a3": "MAF", "iso_a2": "MF"},

{"numeric": "504", "name": "Morocco", "iso_a3": "MAR", "iso_a2": "MA"},

{"numeric": "492", "name": "Monaco", "iso_a3": "MCO", "iso_a2": "MC"},

{"numeric": "498", "name": "Moldova, Republic of", "iso_a3": "MDA", "iso_a2": "MD"},

{"numeric": "450", "name": "Madagascar", "iso_a3": "MDG", "iso_a2": "MG"},

{"numeric": "462", "name": "Maldives", "iso_a3": "MDV", "iso_a2": "MV"},

{"numeric": "484", "name": "Mexico", "iso_a3": "MEX", "iso_a2": "MX"},

{"numeric": "584", "name": "Marshall Islands", "iso_a3": "MHL", "iso_a2": "MH"},

{"numeric": "807", "name": "North Macedonia", "iso_a3": "MKD", "iso_a2": "MK"},

{"numeric": "466", "name": "Mali", "iso_a3": "MLI", "iso_a2": "ML"},

{"numeric": "470", "name": "Malta", "iso_a3": "MLT", "iso_a2": "MT"},

{"numeric": "104", "name": "Myanmar", "iso_a3": "MMR", "iso_a2": "MM"},

{"numeric": "499", "name": "Montenegro", "iso_a3": "MNE", "iso_a2": "ME"},

{"numeric": "496", "name": "Mongolia", "iso_a3": "MNG", "iso_a2": "MN"},

{"numeric": "580", "name": "Northern Mariana Islands", "iso_a3": "MNP", "iso_a2": "MP"},

{"numeric": "508", "name": "Mozambique", "iso_a3": "MOZ", "iso_a2": "MZ"},

{"numeric": "478", "name": "Mauritania", "iso_a3": "MRT", "iso_a2": "MR"},

{"numeric": "500", "name": "Montserrat", "iso_a3": "MSR", "iso_a2": "MS"},

{"numeric": "474", "name": "Martinique", "iso_a3": "MTQ", "iso_a2": "MQ"},

{"numeric": "480", "name": "Mauritius", "iso_a3": "MUS", "iso_a2": "MU"},

{"numeric": "454", "name": "Malawi", "iso_a3": "MWI", "iso_a2": "MW"},

{"numeric": "458", "name": "Malaysia", "iso_a3": "MYS", "iso_a2": "MY"},

{"numeric": "175", "name": "Mayotte", "iso_a3": "MYT", "iso_a2": "YT"},

{"numeric": "516", "name": "Namibia", "iso_a3": "NAM", "iso_a2": "NA"},

{"numeric": "540", "name": "New Caledonia", "iso_a3": "NCL", "iso_a2": "NC"},

{"numeric": "562", "name": "Niger", "iso_a3": "NER", "iso_a2": "NE"},

{"numeric": "574", "name": "Norfolk Island", "iso_a3": "NFK", "iso_a2": "NF"},

{"numeric": "566", "name": "Nigeria", "iso_a3": "NGA", "iso_a2": "NG"},

{"numeric": "558", "name": "Nicaragua", "iso_a3": "NIC", "iso_a2": "NI"},

{"numeric": "570", "name": "Niue", "iso_a3": "NIU", "iso_a2": "NU"},

{"numeric": "528", "name": "Netherlands", "iso_a3": "NLD", "iso_a2": "NL"},

{"numeric": "578", "name": "Norway", "iso_a3": "NOR", "iso_a2": "NO"},

{"numeric": "524", "name": "Nepal", "iso_a3": "NPL", "iso_a2": "NP"},

{"numeric": "520", "name": "Nauru", "iso_a3": "NRU", "iso_a2": "NR"},

{"numeric": "554", "name": "New Zealand", "iso_a3": "NZL", "iso_a2": "NZ"},

{"numeric": "512", "name": "Oman", "iso_a3": "OMN", "iso_a2": "OM"},

{"numeric": "586", "name": "Pakistan", "iso_a3": "PAK", "iso_a2": "PK"},

{"numeric": "591", "name": "Panama", "iso_a3": "PAN", "iso_a2": "PA"},

{"numeric": "612", "name": "Pitcairn", "iso_a3": "PCN", "iso_a2": "PN"},

{"numeric": "604", "name": "Peru", "iso_a3": "PER", "iso_a2": "PE"},

{"numeric": "608", "name": "Philippines", "iso_a3": "PHL", "iso_a2": "PH"},

{"numeric": "585", "name": "Palau", "iso_a3": "PLW", "iso_a2": "PW"},

{"numeric": "598", "name": "Papua New Guinea", "iso_a3": "PNG", "iso_a2": "PG"},

{"numeric": "616", "name": "Poland", "iso_a3": "POL", "iso_a2": "PL"},

{"numeric": "630", "name": "Puerto Rico", "iso_a3": "PRI", "iso_a2": "PR"},

{"numeric": "408", "name": "Korea, Democratic People's Republic of", "iso_a3": "PRK", "iso_a2": "KP"},

{"numeric": "620", "name": "Portugal", "iso_a3": "PRT", "iso_a2": "PT"},

{"numeric": "600", "name": "Paraguay", "iso_a3": "PRY", "iso_a2": "PY"},

{"numeric": "275", "name": "Palestine, State of", "iso_a3": "PSE", "iso_a2": "PS"},

{"numeric": "258", "name": "French Polynesia", "iso_a3": "PYF", "iso_a2": "PF"},

{"numeric": "634", "name": "Qatar", "iso_a3": "QAT", "iso_a2": "QA"},

{"numeric": "638", "name": "Réunion", "iso_a3": "REU", "iso_a2": "RE"},

{"numeric": "642", "name": "Romania", "iso_a3": "ROU", "iso_a2": "RO"},

{"numeric": "643", "name": "Russian Federation", "iso_a3": "RUS", "iso_a2": "RU"},

{"numeric": "646", "name": "Rwanda", "iso_a3": "RWA", "iso_a2": "RW"},

{"numeric": "682", "name": "Saudi Arabia", "iso_a3": "SAU", "iso_a2": "SA"},

{"numeric": "729", "name": "Sudan", "iso_a3": "SDN", "iso_a2": "SD"},

{"numeric": "686", "name": "Senegal", "iso_a3": "SEN", "iso_a2": "SN"},

{"numeric": "702", "name": "Singapore", "iso_a3": "SGP", "iso_a2": "SG"},

{"numeric": "239", "name": "South Georgia and the South Sandwich Islands", "iso_a3": "SGS", "iso_a2": "GS"},

{"numeric": "654", "name": "Saint Helena, Ascension and Tristan da Cunha", "iso_a3": "SHN", "iso_a2": "SH"},

{"numeric": "744", "name": "Svalbard and Jan Mayen", "iso_a3": "SJM", "iso_a2": "SJ"},

{"numeric": "090", "name": "Solomon Islands", "iso_a3": "SLB", "iso_a2": "SB"},

{"numeric": "694", "name": "Sierra Leone", "iso_a3": "SLE", "iso_a2": "SL"},

{"numeric": "222", "name": "El Salvador", "iso_a3": "SLV", "iso_a2": "SV"},

{"numeric": "674", "name": "San Marino", "iso_a3": "SMR", "iso_a2": "SM"},

{"numeric": "706", "name": "Somalia", "iso_a3": "SOM", "iso_a2": "SO"},

{"numeric": "666", "name": "Saint Pierre and Miquelon", "iso_a3": "SPM", "iso_a2": "PM"},

{"numeric": "688", "name": "Serbia", "iso_a3": "SRB", "iso_a2": "RS"},

{"numeric": "728", "name": "South Sudan", "iso_a3": "SSD", "iso_a2": "SS"},

{"numeric": "678", "name": "Sao Tome and Principe", "iso_a3": "STP", "iso_a2": "ST"},

{"numeric": "740", "name": "Suriname", "iso_a3": "SUR", "iso_a2": "SR"},

{"numeric": "703", "name": "Slovakia", "iso_a3": "SVK", "iso_a2": "SK"},

{"numeric": "705", "name": "Slovenia", "iso_a3": "SVN", "iso_a2": "SI"},

{"numeric": "752", "name": "Sweden", "iso_a3": "SWE", "iso_a2": "SE"},

{"numeric": "748", "name": "Eswatini", "iso_a3": "SWZ", "iso_a2": "SZ"},

{"numeric": "534", "name": "Sint Maarten (Dutch part)", "iso_a3": "SXM", "iso_a2": "SX"},

{"numeric": "690", "name": "Seychelles", "iso_a3": "SYC", "iso_a2": "SC"},

{"numeric": "760", "name": "Syrian Arab Republic", "iso_a3": "SYR", "iso_a2": "SY"},

{"numeric": "796", "name": "Turks and Caicos Islands", "iso_a3": "TCA", "iso_a2": "TC"},

{"numeric": "148", "name": "Chad", "iso_a3": "TCD", "iso_a2": "TD"},

{"numeric": "768", "name": "Togo", "iso_a3": "TGO", "iso_a2": "TG"},

{"numeric": "764", "name": "Thailand", "iso_a3": "THA", "iso_a2": "TH"},

{"numeric": "762", "name": "Tajikistan", "iso_a3": "TJK", "iso_a2": "TJ"},

{"numeric": "772", "name": "Tokelau", "iso_a3": "TKL", "iso_a2": "TK"},

{"numeric": "795", "name": "Turkmenistan", "iso_a3": "TKM", "iso_a2": "TM"},

{"numeric": "626", "name": "Timor-Leste", "iso_a3": "TLS", "iso_a2": "TL"},

{"numeric": "776", "name": "Tonga", "iso_a3": "TON", "iso_a2": "TO"},

{"numeric": "780", "name": "Trinidad and Tobago", "iso_a3": "TTO", "iso_a2": "TT"},

{"numeric": "788", "name": "Tunisia", "iso_a3": "TUN", "iso_a2": "TN"},

{"numeric": "792", "name": "Turkey", "iso_a3": "TUR", "iso_a2": "TR"},

{"numeric": "798", "name": "Tuvalu", "iso_a3": "TUV", "iso_a2": "TV"},

{"numeric": "158", "name": "Taiwan, Province of China", "iso_a3": "TWN", "iso_a2": "TW"},

{"numeric": "834", "name": "Tanzania, United Republic of", "iso_a3": "TZA", "iso_a2": "TZ"},

{"numeric": "800", "name": "Uganda", "iso_a3": "UGA", "iso_a2": "UG"},

{"numeric": "804", "name": "Ukraine", "iso_a3": "UKR", "iso_a2": "UA"},

{"numeric": "581", "name": "United States Minor Outlying Islands", "iso_a3": "UMI", "iso_a2": "UM"},

{"numeric": "858", "name": "Uruguay", "iso_a3": "URY", "iso_a2": "UY"},

{"numeric": "840", "name": "United States", "iso_a3": "USA", "iso_a2": "US"},

{"numeric": "860", "name": "Uzbekistan", "iso_a3": "UZB", "iso_a2": "UZ"},

{"numeric": "336", "name": "Holy See (Vatican City State)", "iso_a3": "VAT", "iso_a2": "VA"},

{"numeric": "670", "name": "Saint Vincent and the Grenadines", "iso_a3": "VCT", "iso_a2": "VC"},

{"numeric": "862", "name": "Venezuela, Bolivarian Republic of", "iso_a3": "VEN", "iso_a2": "VE"},

{"numeric": "092", "name": "Virgin Islands, British", "iso_a3": "VGB", "iso_a2": "VG"},

{"numeric": "850", "name": "Virgin Islands, U.S.", "iso_a3": "VIR", "iso_a2": "VI"},

{"numeric": "704", "name": "Viet Nam", "iso_a3": "VNM", "iso_a2": "VN"},

{"numeric": "548", "name": "Vanuatu", "iso_a3": "VUT", "iso_a2": "VU"},

{"numeric": "876", "name": "Wallis and Futuna", "iso_a3": "WLF", "iso_a2": "WF"},

{"numeric": "882", "name": "Samoa", "iso_a3": "WSM", "iso_a2": "WS"},

{"numeric": "887", "name": "Yemen", "iso_a3": "YEM", "iso_a2": "YE"},

{"numeric": "710", "name": "South Africa", "iso_a3": "ZAF", "iso_a2": "ZA"},

{"numeric": "894", "name": "Zambia", "iso_a3": "ZMB", "iso_a2": "ZM"},

{"numeric": "716", "name": "Zimbabwe", "iso_a3": "ZWE", "iso_a2": "ZW"}

In [23]:
# csv is not a wise choice ast there are commas in the country names
filename = 'country_codes_and_names.csv'
with open(os.path.join(data_folder, filename), 'w') as f:
    line_string = f'numeric,name,iso_a3,iso_a2\n'
    f.write(line_string)
    for country in pycountry.countries:
        line_string = ','.join([country.numeric, 
                        country.name,
                        country.alpha_3,
                        country.alpha_2 + '\n'])
#         print(','.join([country.numeric, 
#                         country.name,
#                         country.alpha_3,
#                         country.alpha_2]))
        f.write(line_string)

## Explorations

In [90]:

list(pycountry.countries)[0]

Country(alpha_2='AW', alpha_3='ABW', name='Aruba', numeric='533')

In [98]:
for c in pycountry.countries:
    print(c)

Country(alpha_2='AW', alpha_3='ABW', name='Aruba', numeric='533')
Country(alpha_2='AF', alpha_3='AFG', name='Afghanistan', numeric='004', official_name='Islamic Republic of Afghanistan')
Country(alpha_2='AO', alpha_3='AGO', name='Angola', numeric='024', official_name='Republic of Angola')
Country(alpha_2='AI', alpha_3='AIA', name='Anguilla', numeric='660')
Country(alpha_2='AX', alpha_3='ALA', name='Åland Islands', numeric='248')
Country(alpha_2='AL', alpha_3='ALB', name='Albania', numeric='008', official_name='Republic of Albania')
Country(alpha_2='AD', alpha_3='AND', name='Andorra', numeric='020', official_name='Principality of Andorra')
Country(alpha_2='AE', alpha_3='ARE', name='United Arab Emirates', numeric='784')
Country(alpha_2='AR', alpha_3='ARG', name='Argentina', numeric='032', official_name='Argentine Republic')
Country(alpha_2='AM', alpha_3='ARM', name='Armenia', numeric='051', official_name='Republic of Armenia')
Country(alpha_2='AS', alpha_3='ASM', name='American Samoa', numeric='016')
Country(alpha_2='AQ', alpha_3='ATA', name='Antarctica', numeric='010')
Country(alpha_2='TF', alpha_3='ATF', name='French Southern Territories', numeric='260')
Country(alpha_2='AG', alpha_3='ATG', name='Antigua and Barbuda', numeric='028')
Country(alpha_2='AU', alpha_3='AUS', name='Australia', numeric='036')
Country(alpha_2='AT', alpha_3='AUT', name='Austria', numeric='040', official_name='Republic of Austria')
Country(alpha_2='AZ', alpha_3='AZE', name='Azerbaijan', numeric='031', official_name='Republic of Azerbaijan')
Country(alpha_2='BI', alpha_3='BDI', name='Burundi', numeric='108', official_name='Republic of Burundi')
Country(alpha_2='BE', alpha_3='BEL', name='Belgium', numeric='056', official_name='Kingdom of Belgium')
Country(alpha_2='BJ', alpha_3='BEN', name='Benin', numeric='204', official_name='Republic of Benin')
Country(alpha_2='BQ', alpha_3='BES', name='Bonaire, Sint Eustatius and Saba', numeric='535', official_name='Bonaire, Sint Eustatius and Saba')
Country(alpha_2='BF', alpha_3='BFA', name='Burkina Faso', numeric='854')
Country(alpha_2='BD', alpha_3='BGD', name='Bangladesh', numeric='050', official_name="People's Republic of Bangladesh")
Country(alpha_2='BG', alpha_3='BGR', name='Bulgaria', numeric='100', official_name='Republic of Bulgaria')
Country(alpha_2='BH', alpha_3='BHR', name='Bahrain', numeric='048', official_name='Kingdom of Bahrain')
Country(alpha_2='BS', alpha_3='BHS', name='Bahamas', numeric='044', official_name='Commonwealth of the Bahamas')
Country(alpha_2='BA', alpha_3='BIH', name='Bosnia and Herzegovina', numeric='070', official_name='Republic of Bosnia and Herzegovina')
Country(alpha_2='BL', alpha_3='BLM', name='Saint Barthélemy', numeric='652')
Country(alpha_2='BY', alpha_3='BLR', name='Belarus', numeric='112', official_name='Republic of Belarus')
Country(alpha_2='BZ', alpha_3='BLZ', name='Belize', numeric='084')
Country(alpha_2='BM', alpha_3='BMU', name='Bermuda', numeric='060')
Country(alpha_2='BO', alpha_3='BOL', common_name='Bolivia', name='Bolivia, Plurinational State of', numeric='068', official_name='Plurinational State of Bolivia')
Country(alpha_2='BR', alpha_3='BRA', name='Brazil', numeric='076', official_name='Federative Republic of Brazil')
Country(alpha_2='BB', alpha_3='BRB', name='Barbados', numeric='052')
Country(alpha_2='BN', alpha_3='BRN', name='Brunei Darussalam', numeric='096')
Country(alpha_2='BT', alpha_3='BTN', name='Bhutan', numeric='064', official_name='Kingdom of Bhutan')
Country(alpha_2='BV', alpha_3='BVT', name='Bouvet Island', numeric='074')
Country(alpha_2='BW', alpha_3='BWA', name='Botswana', numeric='072', official_name='Republic of Botswana')
Country(alpha_2='CF', alpha_3='CAF', name='Central African Republic', numeric='140')
Country(alpha_2='CA', alpha_3='CAN', name='Canada', numeric='124')
Country(alpha_2='CC', alpha_3='CCK', name='Cocos (Keeling) Islands', numeric='166')
Country(alpha_2='CH', alpha_3='CHE', name='Switzerland', numeric='756', official_name='Swiss Confederation')
Country(alpha_2='CL', alpha_3='CHL', name='Chile', numeric='152', official_name='Republic of Chile')
Country(alpha_2='CN', alpha_3='CHN', name='China', numeric='156', official_name="People's Republic of China")
Country(alpha_2='CI', alpha_3='CIV', name="Côte d'Ivoire", numeric='384', official_name="Republic of Côte d'Ivoire")
Country(alpha_2='CM', alpha_3='CMR', name='Cameroon', numeric='120', official_name='Republic of Cameroon')
Country(alpha_2='CD', alpha_3='COD', name='Congo, The Democratic Republic of the', numeric='180')
Country(alpha_2='CG', alpha_3='COG', name='Congo', numeric='178', official_name='Republic of the Congo')
Country(alpha_2='CK', alpha_3='COK', name='Cook Islands', numeric='184')
Country(alpha_2='CO', alpha_3='COL', name='Colombia', numeric='170', official_name='Republic of Colombia')
Country(alpha_2='KM', alpha_3='COM', name='Comoros', numeric='174', official_name='Union of the Comoros')
Country(alpha_2='CV', alpha_3='CPV', name='Cabo Verde', numeric='132', official_name='Republic of Cabo Verde')
Country(alpha_2='CR', alpha_3='CRI', name='Costa Rica', numeric='188', official_name='Republic of Costa Rica')
Country(alpha_2='CU', alpha_3='CUB', name='Cuba', numeric='192', official_name='Republic of Cuba')
Country(alpha_2='CW', alpha_3='CUW', name='Curaçao', numeric='531', official_name='Curaçao')
Country(alpha_2='CX', alpha_3='CXR', name='Christmas Island', numeric='162')
Country(alpha_2='KY', alpha_3='CYM', name='Cayman Islands', numeric='136')
Country(alpha_2='CY', alpha_3='CYP', name='Cyprus', numeric='196', official_name='Republic of Cyprus')
Country(alpha_2='CZ', alpha_3='CZE', name='Czechia', numeric='203', official_name='Czech Republic')
Country(alpha_2='DE', alpha_3='DEU', name='Germany', numeric='276', official_name='Federal Republic of Germany')
Country(alpha_2='DJ', alpha_3='DJI', name='Djibouti', numeric='262', official_name='Republic of Djibouti')
Country(alpha_2='DM', alpha_3='DMA', name='Dominica', numeric='212', official_name='Commonwealth of Dominica')
Country(alpha_2='DK', alpha_3='DNK', name='Denmark', numeric='208', official_name='Kingdom of Denmark')
Country(alpha_2='DO', alpha_3='DOM', name='Dominican Republic', numeric='214')
Country(alpha_2='DZ', alpha_3='DZA', name='Algeria', numeric='012', official_name="People's Democratic Republic of Algeria")
Country(alpha_2='EC', alpha_3='ECU', name='Ecuador', numeric='218', official_name='Republic of Ecuador')
Country(alpha_2='EG', alpha_3='EGY', name='Egypt', numeric='818', official_name='Arab Republic of Egypt')
Country(alpha_2='ER', alpha_3='ERI', name='Eritrea', numeric='232', official_name='the State of Eritrea')
Country(alpha_2='EH', alpha_3='ESH', name='Western Sahara', numeric='732')
Country(alpha_2='ES', alpha_3='ESP', name='Spain', numeric='724', official_name='Kingdom of Spain')
Country(alpha_2='EE', alpha_3='EST', name='Estonia', numeric='233', official_name='Republic of Estonia')
Country(alpha_2='ET', alpha_3='ETH', name='Ethiopia', numeric='231', official_name='Federal Democratic Republic of Ethiopia')
Country(alpha_2='FI', alpha_3='FIN', name='Finland', numeric='246', official_name='Republic of Finland')
Country(alpha_2='FJ', alpha_3='FJI', name='Fiji', numeric='242', official_name='Republic of Fiji')
Country(alpha_2='FK', alpha_3='FLK', name='Falkland Islands (Malvinas)', numeric='238')
Country(alpha_2='FR', alpha_3='FRA', name='France', numeric='250', official_name='French Republic')
Country(alpha_2='FO', alpha_3='FRO', name='Faroe Islands', numeric='234')
Country(alpha_2='FM', alpha_3='FSM', name='Micronesia, Federated States of', numeric='583', official_name='Federated States of Micronesia')
Country(alpha_2='GA', alpha_3='GAB', name='Gabon', numeric='266', official_name='Gabonese Republic')
Country(alpha_2='GB', alpha_3='GBR', name='United Kingdom', numeric='826', official_name='United Kingdom of Great Britain and Northern Ireland')
Country(alpha_2='GE', alpha_3='GEO', name='Georgia', numeric='268')
Country(alpha_2='GG', alpha_3='GGY', name='Guernsey', numeric='831')
Country(alpha_2='GH', alpha_3='GHA', name='Ghana', numeric='288', official_name='Republic of Ghana')
Country(alpha_2='GI', alpha_3='GIB', name='Gibraltar', numeric='292')
Country(alpha_2='GN', alpha_3='GIN', name='Guinea', numeric='324', official_name='Republic of Guinea')
Country(alpha_2='GP', alpha_3='GLP', name='Guadeloupe', numeric='312')
Country(alpha_2='GM', alpha_3='GMB', name='Gambia', numeric='270', official_name='Republic of the Gambia')
Country(alpha_2='GW', alpha_3='GNB', name='Guinea-Bissau', numeric='624', official_name='Republic of Guinea-Bissau')
Country(alpha_2='GQ', alpha_3='GNQ', name='Equatorial Guinea', numeric='226', official_name='Republic of Equatorial Guinea')
Country(alpha_2='GR', alpha_3='GRC', name='Greece', numeric='300', official_name='Hellenic Republic')
Country(alpha_2='GD', alpha_3='GRD', name='Grenada', numeric='308')
Country(alpha_2='GL', alpha_3='GRL', name='Greenland', numeric='304')
Country(alpha_2='GT', alpha_3='GTM', name='Guatemala', numeric='320', official_name='Republic of Guatemala')
Country(alpha_2='GF', alpha_3='GUF', name='French Guiana', numeric='254')
Country(alpha_2='GU', alpha_3='GUM', name='Guam', numeric='316')
Country(alpha_2='GY', alpha_3='GUY', name='Guyana', numeric='328', official_name='Republic of Guyana')
Country(alpha_2='HK', alpha_3='HKG', name='Hong Kong', numeric='344', official_name='Hong Kong Special Administrative Region of China')
Country(alpha_2='HM', alpha_3='HMD', name='Heard Island and McDonald Islands', numeric='334')
Country(alpha_2='HN', alpha_3='HND', name='Honduras', numeric='340', official_name='Republic of Honduras')
Country(alpha_2='HR', alpha_3='HRV', name='Croatia', numeric='191', official_name='Republic of Croatia')
Country(alpha_2='HT', alpha_3='HTI', name='Haiti', numeric='332', official_name='Republic of Haiti')
Country(alpha_2='HU', alpha_3='HUN', name='Hungary', numeric='348', official_name='Hungary')
Country(alpha_2='ID', alpha_3='IDN', name='Indonesia', numeric='360', official_name='Republic of Indonesia')
Country(alpha_2='IM', alpha_3='IMN', name='Isle of Man', numeric='833')
Country(alpha_2='IN', alpha_3='IND', name='India', numeric='356', official_name='Republic of India')
Country(alpha_2='IO', alpha_3='IOT', name='British Indian Ocean Territory', numeric='086')
Country(alpha_2='IE', alpha_3='IRL', name='Ireland', numeric='372')
Country(alpha_2='IR', alpha_3='IRN', name='Iran, Islamic Republic of', numeric='364', official_name='Islamic Republic of Iran')
Country(alpha_2='IQ', alpha_3='IRQ', name='Iraq', numeric='368', official_name='Republic of Iraq')
Country(alpha_2='IS', alpha_3='ISL', name='Iceland', numeric='352', official_name='Republic of Iceland')
Country(alpha_2='IL', alpha_3='ISR', name='Israel', numeric='376', official_name='State of Israel')
Country(alpha_2='IT', alpha_3='ITA', name='Italy', numeric='380', official_name='Italian Republic')
Country(alpha_2='JM', alpha_3='JAM', name='Jamaica', numeric='388')
Country(alpha_2='JE', alpha_3='JEY', name='Jersey', numeric='832')
Country(alpha_2='JO', alpha_3='JOR', name='Jordan', numeric='400', official_name='Hashemite Kingdom of Jordan')
Country(alpha_2='JP', alpha_3='JPN', name='Japan', numeric='392')
Country(alpha_2='KZ', alpha_3='KAZ', name='Kazakhstan', numeric='398', official_name='Republic of Kazakhstan')
Country(alpha_2='KE', alpha_3='KEN', name='Kenya', numeric='404', official_name='Republic of Kenya')
Country(alpha_2='KG', alpha_3='KGZ', name='Kyrgyzstan', numeric='417', official_name='Kyrgyz Republic')
Country(alpha_2='KH', alpha_3='KHM', name='Cambodia', numeric='116', official_name='Kingdom of Cambodia')
Country(alpha_2='KI', alpha_3='KIR', name='Kiribati', numeric='296', official_name='Republic of Kiribati')
Country(alpha_2='KN', alpha_3='KNA', name='Saint Kitts and Nevis', numeric='659')
Country(alpha_2='KR', alpha_3='KOR', name='Korea, Republic of', numeric='410')
Country(alpha_2='KW', alpha_3='KWT', name='Kuwait', numeric='414', official_name='State of Kuwait')
Country(alpha_2='LA', alpha_3='LAO', name="Lao People's Democratic Republic", numeric='418')
Country(alpha_2='LB', alpha_3='LBN', name='Lebanon', numeric='422', official_name='Lebanese Republic')
Country(alpha_2='LR', alpha_3='LBR', name='Liberia', numeric='430', official_name='Republic of Liberia')
Country(alpha_2='LY', alpha_3='LBY', name='Libya', numeric='434', official_name='Libya')
Country(alpha_2='LC', alpha_3='LCA', name='Saint Lucia', numeric='662')
Country(alpha_2='LI', alpha_3='LIE', name='Liechtenstein', numeric='438', official_name='Principality of Liechtenstein')
Country(alpha_2='LK', alpha_3='LKA', name='Sri Lanka', numeric='144', official_name='Democratic Socialist Republic of Sri Lanka')
Country(alpha_2='LS', alpha_3='LSO', name='Lesotho', numeric='426', official_name='Kingdom of Lesotho')
Country(alpha_2='LT', alpha_3='LTU', name='Lithuania', numeric='440', official_name='Republic of Lithuania')
Country(alpha_2='LU', alpha_3='LUX', name='Luxembourg', numeric='442', official_name='Grand Duchy of Luxembourg')
Country(alpha_2='LV', alpha_3='LVA', name='Latvia', numeric='428', official_name='Republic of Latvia')
Country(alpha_2='MO', alpha_3='MAC', name='Macao', numeric='446', official_name='Macao Special Administrative Region of China')
Country(alpha_2='MF', alpha_3='MAF', name='Saint Martin (French part)', numeric='663')
Country(alpha_2='MA', alpha_3='MAR', name='Morocco', numeric='504', official_name='Kingdom of Morocco')
Country(alpha_2='MC', alpha_3='MCO', name='Monaco', numeric='492', official_name='Principality of Monaco')
Country(alpha_2='MD', alpha_3='MDA', common_name='Moldova', name='Moldova, Republic of', numeric='498', official_name='Republic of Moldova')
Country(alpha_2='MG', alpha_3='MDG', name='Madagascar', numeric='450', official_name='Republic of Madagascar')
Country(alpha_2='MV', alpha_3='MDV', name='Maldives', numeric='462', official_name='Republic of Maldives')
Country(alpha_2='MX', alpha_3='MEX', name='Mexico', numeric='484', official_name='United Mexican States')
Country(alpha_2='MH', alpha_3='MHL', name='Marshall Islands', numeric='584', official_name='Republic of the Marshall Islands')
Country(alpha_2='MK', alpha_3='MKD', name='North Macedonia', numeric='807', official_name='Republic of North Macedonia')
Country(alpha_2='ML', alpha_3='MLI', name='Mali', numeric='466', official_name='Republic of Mali')
Country(alpha_2='MT', alpha_3='MLT', name='Malta', numeric='470', official_name='Republic of Malta')
Country(alpha_2='MM', alpha_3='MMR', name='Myanmar', numeric='104', official_name='Republic of Myanmar')
Country(alpha_2='ME', alpha_3='MNE', name='Montenegro', numeric='499', official_name='Montenegro')
Country(alpha_2='MN', alpha_3='MNG', name='Mongolia', numeric='496')
Country(alpha_2='MP', alpha_3='MNP', name='Northern Mariana Islands', numeric='580', official_name='Commonwealth of the Northern Mariana Islands')
Country(alpha_2='MZ', alpha_3='MOZ', name='Mozambique', numeric='508', official_name='Republic of Mozambique')
Country(alpha_2='MR', alpha_3='MRT', name='Mauritania', numeric='478', official_name='Islamic Republic of Mauritania')
Country(alpha_2='MS', alpha_3='MSR', name='Montserrat', numeric='500')
Country(alpha_2='MQ', alpha_3='MTQ', name='Martinique', numeric='474')
Country(alpha_2='MU', alpha_3='MUS', name='Mauritius', numeric='480', official_name='Republic of Mauritius')
Country(alpha_2='MW', alpha_3='MWI', name='Malawi', numeric='454', official_name='Republic of Malawi')
Country(alpha_2='MY', alpha_3='MYS', name='Malaysia', numeric='458')
Country(alpha_2='YT', alpha_3='MYT', name='Mayotte', numeric='175')
Country(alpha_2='NA', alpha_3='NAM', name='Namibia', numeric='516', official_name='Republic of Namibia')
Country(alpha_2='NC', alpha_3='NCL', name='New Caledonia', numeric='540')
Country(alpha_2='NE', alpha_3='NER', name='Niger', numeric='562', official_name='Republic of the Niger')
Country(alpha_2='NF', alpha_3='NFK', name='Norfolk Island', numeric='574')
Country(alpha_2='NG', alpha_3='NGA', name='Nigeria', numeric='566', official_name='Federal Republic of Nigeria')
Country(alpha_2='NI', alpha_3='NIC', name='Nicaragua', numeric='558', official_name='Republic of Nicaragua')
Country(alpha_2='NU', alpha_3='NIU', name='Niue', numeric='570', official_name='Niue')
Country(alpha_2='NL', alpha_3='NLD', name='Netherlands', numeric='528', official_name='Kingdom of the Netherlands')
Country(alpha_2='NO', alpha_3='NOR', name='Norway', numeric='578', official_name='Kingdom of Norway')
Country(alpha_2='NP', alpha_3='NPL', name='Nepal', numeric='524', official_name='Federal Democratic Republic of Nepal')
Country(alpha_2='NR', alpha_3='NRU', name='Nauru', numeric='520', official_name='Republic of Nauru')
Country(alpha_2='NZ', alpha_3='NZL', name='New Zealand', numeric='554')
Country(alpha_2='OM', alpha_3='OMN', name='Oman', numeric='512', official_name='Sultanate of Oman')
Country(alpha_2='PK', alpha_3='PAK', name='Pakistan', numeric='586', official_name='Islamic Republic of Pakistan')
Country(alpha_2='PA', alpha_3='PAN', name='Panama', numeric='591', official_name='Republic of Panama')
Country(alpha_2='PN', alpha_3='PCN', name='Pitcairn', numeric='612')
Country(alpha_2='PE', alpha_3='PER', name='Peru', numeric='604', official_name='Republic of Peru')
Country(alpha_2='PH', alpha_3='PHL', name='Philippines', numeric='608', official_name='Republic of the Philippines')
Country(alpha_2='PW', alpha_3='PLW', name='Palau', numeric='585', official_name='Republic of Palau')
Country(alpha_2='PG', alpha_3='PNG', name='Papua New Guinea', numeric='598', official_name='Independent State of Papua New Guinea')
Country(alpha_2='PL', alpha_3='POL', name='Poland', numeric='616', official_name='Republic of Poland')
Country(alpha_2='PR', alpha_3='PRI', name='Puerto Rico', numeric='630')
Country(alpha_2='KP', alpha_3='PRK', name="Korea, Democratic People's Republic of", numeric='408', official_name="Democratic People's Republic of Korea")
Country(alpha_2='PT', alpha_3='PRT', name='Portugal', numeric='620', official_name='Portuguese Republic')
Country(alpha_2='PY', alpha_3='PRY', name='Paraguay', numeric='600', official_name='Republic of Paraguay')
Country(alpha_2='PS', alpha_3='PSE', name='Palestine, State of', numeric='275', official_name='the State of Palestine')
Country(alpha_2='PF', alpha_3='PYF', name='French Polynesia', numeric='258')
Country(alpha_2='QA', alpha_3='QAT', name='Qatar', numeric='634', official_name='State of Qatar')
Country(alpha_2='RE', alpha_3='REU', name='Réunion', numeric='638')
Country(alpha_2='RO', alpha_3='ROU', name='Romania', numeric='642')
Country(alpha_2='RU', alpha_3='RUS', name='Russian Federation', numeric='643')
Country(alpha_2='RW', alpha_3='RWA', name='Rwanda', numeric='646', official_name='Rwandese Republic')
Country(alpha_2='SA', alpha_3='SAU', name='Saudi Arabia', numeric='682', official_name='Kingdom of Saudi Arabia')
Country(alpha_2='SD', alpha_3='SDN', name='Sudan', numeric='729', official_name='Republic of the Sudan')
Country(alpha_2='SN', alpha_3='SEN', name='Senegal', numeric='686', official_name='Republic of Senegal')
Country(alpha_2='SG', alpha_3='SGP', name='Singapore', numeric='702', official_name='Republic of Singapore')
Country(alpha_2='GS', alpha_3='SGS', name='South Georgia and the South Sandwich Islands', numeric='239')
Country(alpha_2='SH', alpha_3='SHN', name='Saint Helena, Ascension and Tristan da Cunha', numeric='654')
Country(alpha_2='SJ', alpha_3='SJM', name='Svalbard and Jan Mayen', numeric='744')
Country(alpha_2='SB', alpha_3='SLB', name='Solomon Islands', numeric='090')
Country(alpha_2='SL', alpha_3='SLE', name='Sierra Leone', numeric='694', official_name='Republic of Sierra Leone')
Country(alpha_2='SV', alpha_3='SLV', name='El Salvador', numeric='222', official_name='Republic of El Salvador')
Country(alpha_2='SM', alpha_3='SMR', name='San Marino', numeric='674', official_name='Republic of San Marino')

In [102]:
df.dest_code[:20]

5481379    124
5481396    276
5481410    250
5481413    826
5481483    528
5481536    840
5481557     40
5481558     31
5481564    100
5481568    112
5481577    124
5481578    756
5481593    203
5481594    276
5481600    818
5481608    250
5481611    826
5481619    300
5481632    372
5481636    376
Name: dest_code, dtype: int64

In [99]:
pycountry.countries.get(numeric='040')

Country(alpha_2='AT', alpha_3='AUT', name='Austria', numeric='040', official_name='Republic of Austria')